:root {
    --background: #F0F2F5;
    --green: #45DEA8;
    --dark-green: #226f54;
    --gray: #2F3D4A;
    --white: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .root {
    height: 100%;
}

body {
    background: var(--background);
}

body, input, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.root {
    padding: 0 20rem;
}